* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #85D4B7;
}




.header-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 0;
}

/* reset menu */
.menu{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

/* div logo centrado margen auto */
.logo {
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}


/* img como block */
.logo img {
    display: block;
    margin: auto;
    padding-bottom: 0.5em;
}

/* nav centrado margen auto */
nav {
    background-color: #6dccaa;
    margin: auto;
    width: 100%;
}

/* item menu como bloque */
header ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin: auto;
    line-height: 3;
    border-bottom: 1px solid  #F2F2F2;
    font-size: 1em;
}

/* centrar texto menu */
li{
    text-align: center;
}

/* Mouse over Menu */
li a:hover {
    background: #000000;
    opacity: .2;
}

/* Responsive > 600px*/
@media only screen and (min-width: 709px) {
    header ul li {
        display: inline;
        padding: 0 1.4em 0 0;
        font-size: 0.9em;
    }
 
    .header-container {
         display: flex;
         flex-direction: row;
         border-bottom: none;
         padding: 1em 1em 1em 1em;
    }
 
     nav {
         background-color: #85D4B7;
         width: auto;
         align-content: center;
     }
 
     .menu{
         display: flex;
         flex-grow: 1;
         margin: auto;
     }
 
     header ul li a {
         
         display: block;
         margin: auto;
         text-align: center;
         border-bottom: none;
     }
 
     .content-container{
         display: flex;
     }
 
     .network-container{
         margin: auto;
     }
 
     .fono{
         color: #ffffff;
         flex-grow: 1;
     }
     
     .definicion{
         color: #ffffff;
         font-weight: bold;
         flex-grow: 1;
     }
 
     .btn-redes{
         flex-grow: 1;

     }
 }

 
 
 /* Responsive < 599px */
 @media only screen and (max-width: 709px){
    .network-container{
        display: flex;
        justify-content: center;
    }

    .definicion{
        display: none;
        
    }
    
    .fono{
    
        display: none;
    }

    .btn-redes{
        margin: auto;
    }

    .content-container{
        display: flex;
        flex-direction: column;
    }
}

/*Carrusel*/
.carousel-container {
    display: flex;
    background-color: #6dccaa;
    padding: 0;
}

/*div Carousel*/
.carousel{
    display: flex;
    width: 100%;
    margin: auto;    
}

/*Formulario responsive*/
.form-container{
    background-color: #6dccaa;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    border: 30px solid #F2F2F2;
    padding: 1em 1em 1em 1em;
    margin: auto;
    width: 60%;
}

.form-item{
    margin: auto;
    width: auto;
}

input[type="text"]{
    width: 100%;
    display: block;
    line-height: 2;
}

input[type="date"]{
    width: 100%;
    display: block;
    line-height: 2;
}

input[type="number"]{
    width: 100%;
    display: block;
    line-height: 2;
}

input[type="email"]{
    width: 100%;
    display: block;
    line-height: 2;
}

select{
    width: 100%;
    height: 35px;
    display: block;
    margin-bottom: 10px;
}

input[type="tel"]{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    line-height: 2;
}


::placeholder{
    padding-left: 15px;
}


.btn-container{
    display: flex;
    flex-direction: column;
    padding-top:1em;
    padding-bottom: 2em;
    align-content: center;
}

.btn{
    padding: 0.8em;
    margin: 0.8em 0em 0.8em 0em;
    flex: auto;
    background-color: #F2F2F2;
}

.formTitle-container{
    
    margin: auto;
}

.formTitle{
    /* justify-content: center; */
    justify-content: center;
    align-content: center;
    color: #F2F2F2;
    margin: 2em 2em 2em 2em;
}

.error_form{
    color: orangered;
}


/* SLIDER STYLES */
/*jssor slider loading skin double-tail-spin css*/
.jssorl-004-double-tail-spin img {
    animation-name: jssorl-004-double-tail-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 031 css*/
.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031 .i.idn {opacity:.3;}

/*jssor slider arrow skin 101 css*/
.jssora101 {display:block;position:absolute;opacity:.8;cursor:pointer;}
.jssora101 .c {fill:#fff;fill-opacity:0.7;}
.jssora101 .a {fill:#333;}
.jssora101:hover {opacity:1;}
.jssora101.jssora101dn {opacity:.6;}
.jssora101.jssora101ds {opacity:.3;pointer-events:none;}





/*Redes Sociales*/
.network-container{
    display: flex;
    margin: auto;
}



.btn-redes{
    flex-basis: auto;
    background-color: #ffffff;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

i{
    opacity: .3;
    width: 100%;
}


/* Contenido */
.content-container{
    display: flex;
    justify-content: center;
    margin: auto;
    background: #F2F2F2;
}

.first-content-container{
    flex-grow: 1;
    flex: auto;
}

.second-content-container{
    flex-grow: 1;
    flex: auto;
}

/* .second-content-container a{

    text-decoration: none;
    color: #000000;
    display: block;
    margin: auto;
    line-height: 3;
    border: 2px solid #000000;
    font-size: 1em;
}
 */


.btn-campana{
    float: left;
    width: 18%;
    background-color: #e6e6e6; 
    display: block;
    font-size: 20px;
    border-radius: 4px;
    padding: 0;
    border: 2px solid #000000;
}

.btn-campana:hover {
    background: #000000;
    opacity: .2;
}

.footer-container{
    background: #e6e6e6;
}

.gallery-container{
    display: flex;
    align-content: stretch;
}

.lightgallery a img{
    width: auto;
}






